#home-root{
    background: linear-gradient(45deg, var(--compliment), var(--accent));
    margin: 5px;
    margin-right: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 10px);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid transparent;
}

#home-root:hover{
    /* border: 1px solid var(--colorC); */
}

#hero-root{
    flex-shrink: 0;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

#hero-image-section:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}


#hero-image-section{
    width: 90%;
    max-width: 800px;
    background-size: contain;
    border-radius: 10px;
    background-repeat: no-repeat;
    display: grid;
    /* background: rgb(0, 0, 0, 0.5); */
    background: url("hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#home-body-root{
    height: max-content;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-playlist{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
}

.home-playlist-song{
    flex-shrink: 0;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-size: contain;
}

.home-playlist-song div{
    margin-top: 80%;
    background: rgb(0, 0, 0, 0.5);
    height: 20%;
    transition: all 0.1s;
    /* backdrop-filter: blur(10px); */
    border-radius: 10px;
}

.home-playlist-song:hover div{
    margin-top: 0;
    border: 1px solid var(--colorC);
    height: 100%;
}

@media (orientation: portrait) {
    #home-root{
        margin-right: 5px;
        border-radius: 5px;
        margin-bottom: 0;
    }
}