#viewport-root{
    width: 100%;
    height: 100%;
    background: var(--bg);
    display: grid;
    grid-template-columns: 200px calc(100% - 600px) 400px;
    overflow-y: scroll;
}

@media (orientation: portrait) {
	#viewport-root{
        grid-template-columns: 1fr;
    }
}