:root{
    --user-width: 450px;
    --user-height: max-content;
}
#user-root{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--compliment), var(--accent));
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-container{
    width: var(--user-width);
    height: var(--user-height);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid var(--colorB);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 5;
}
#user-container:hover{
    /* border: 1px solid var(--colorC); */
}
#user-header{
    margin: 40px;
    font-size: 40px;
    color: var(--colorD);
    border-bottom: 2px solid var(--colorC);
}
#user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#user-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 0px;
    width: 70%;
}
#user-form div button{
    margin-left: 10px;
    background: var(--colorB);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
}
#user-form div button:hover{
    border: 1px solid var(--colorC);
}
#user-form input{
    width: 100%;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.1s;
    color: var(--colorD);
    background: var(--colorB);
}
#user-form input:focus{
    border: 2px solid var(--colorC) ;
}

#user-form label{
    color: var(--colorD);
    margin-bottom: 5px;
}

#user-form input[type=submit]{
    width: 100%;
    background: var(--colorB);
    color: var(--colorD);
    font-size: 20px;
    padding: 20px 0px;
    border-radius: 10px;
    border: 2px solid black;
}
#user-form input[type=submit]:hover{
    border: 2px solid var(--colorC);
}


.particle{
    bottom: 0;
    position: fixed;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    z-index: 3;
    /* animation: particlepattern 4s linear 0s infinite; */
}

.loading{
    animation: loadinganimation 0.1s linear infinite;
}

.errorMessage{
    color: red;
}

@media (orientation: portrait) {
    #user-container{
        width: 90%;
    }
}