:root{
    --accent: rgb(102, 0, 255);
    --accentLight: rgb(231, 234, 255);
    --accentDark: rgb(0, 0, 0);
}
/* @font-face {
    font-family: newMe;
    src: url("Realistic.otf");
} */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}